{{ if .Site.IsMultiLingual }}
<div class="items-flex">
  {{ $siteLanguages := .Site.Languages}}
  {{ $pageLang := .Page.Lang}}
  {{ range .Page.AllTranslations }}
      {{ $translation := .}}
      {{ range $siteLanguages }}
          {{ if eq $translation.Lang .Lang }}
            {{ $selected := false }}
            {{ if eq $pageLang .Lang}}
                <div class="inline text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none border-b-2 border-blue-300"><a href="{{ $translation.Permalink }}">{{ .LanguageName }}</a></div>
            {{ else }}
                <div class="inline text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none"><a href="{{ $translation.Permalink }}">{{ .LanguageName }}</a></div>
            {{ end }}
          {{ end }}
      {{ end }}
  {{ end }}
</div>
{{end}}
