@layer components {
    form label, span.label {
      @apply mb-2 text-xs font-bold tracking-wide text-black uppercase;
    }

    nav#TableOfContents ul > li {
      @apply ml-2;
    }
  }

.gsc-control-cse {
  background:transparent !important;
  border-color:transparent !important;
}

html {
  scroll-padding-top: 5rem;  
}

div#comment-submitted {
  visibility: hidden;
  display: none;
}

div#comment-submitted:target {
  visibility: visible !important;
  display: block;
}

[x-cloak] { display: none !important; }