<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
    {{ partial "head.html" . }}
    <body class="flex flex-col min-h-screen">
        {{/*
        {{- partial "dev-size-indicator.html" . -}}
        */}}
        {{- partial "header.html" . -}}
        <main class="flex-1 mx-4 md:mx-12 lg:mx-24 mt-4 sm:mt-16">
        {{- block "main" . }}{{- end }}
        </main>
        
        {{- partial "dev-parameters.html" . -}}
        
        {{- partial "footer.html" . -}}

        <script>
        //    if('serviceWorker' in navigator) {
        
        //         /**
        //          * Define if <link rel='next|prev|prefetch'> should
        //          * be preloaded when accessing this page
        //          */
        //         const PREFETCH = true;
        
        //         /**
        //          * Define which link-rel's should be preloaded if enabled.
        //          */
        //         const PREFETCH_LINK_RELS = ['index','next', 'prev', 'prefetch'];
        
        //         /**
        //          * prefetchCache
        //          */
        //         function prefetchCache() {
        //             if(navigator.serviceWorker.controller) {
        
        //                 let links = document.querySelectorAll(
        //                     PREFETCH_LINK_RELS.map((rel) => {
        //                         return 'link[rel='+rel+']';
        //                     }).join(',')
        //                 );
        
        //                 if(links.length > 0) {
        //                     Array.from(links)
        //                         .map((link) => {
        //                             let href = link.getAttribute('href');
        //                             navigator.serviceWorker.controller.postMessage({
        //                                 action : 'cache',
        //                                 url : href,
        //                             });
        //                         });
        //                 }
        
        
        //             }
        //         }
        
        //         /**
        //          * Register Service Worker
        //          */
        //         navigator.serviceWorker
        //             .register('/Checklists/sw.js', { scope: '/Checklists/' })
        //             .then(() => {
        //                 console.log('Service Worker Registered');
        //             });
        
        //         /**
        //          * Wait if ServiceWorker is ready
        //          */
        //         navigator.serviceWorker
        //             .ready
        //             .then(() => {
        //                 if(PREFETCH) {
        //                     prefetchCache();
        //                 }
        //             });

        //     } 
        // </script>
    </body>
</html>
