{{ define "main" }}
<article class="px-6 mx-auto mb-16 prose text-gray-700 justify-self-center sm:px-4 md:px-0 lg:prose-lg">
    <h1>{{ .Title }}</h1>
    {{ if .Content }}
    <p>{{ .Content }}</p>
    {{ end }}

    <ul>
    {{ range .RegularPages.ByTitle }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ if .Params.tags }}
            <div class="inline-flex my-0">
            {{ range .Params.tags }}
                <a class="px-2 py-1 ml-1 mr-1 text-sm font-light text-center text-indigo-100 no-underline uppercase bg-gray-900 rounded shadow" href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ . | humanize | lower | i18n }}</a>
            {{ end }}
            </div>
            {{ end }}
        </li>
    {{ end }}
    </ul>
</article>
{{ end }}