{{ define "main" }}
<article class="mb-16 text-gray-700 sm:mx-12">
    <h1 class="text-3xl font-bold text-gray-700">{{ .Title }}</h1>
    {{ if .Params.tags }}
    <hr class="mt-2 mb-1">
    <div class="flex my-0">
    {{ range .Params.tags }}
        <a class="px-2 py-1 ml-1 mr-1 text-sm font-light text-center text-indigo-100 no-underline uppercase bg-gray-900 rounded" href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ . | humanize | lower | i18n }}</a>
    {{ end }}
    </div>
    <hr class="mt-1 mb-2">
    {{ end }}
    {{ .Content }}
</article>
{{ end }}